@model EcoTravel.Models.Camping

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Camping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPlazas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPlazas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroBungalows)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroBungalows)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HayPiscina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HayPiscina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CampingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
