@model EcoTravel.Models.Incidencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Incidencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_Recurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_Recurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_Compania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_Compania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grevedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grevedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opinion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opinion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
